<!DOCTYPE html>

<html>
<head>
    <title>News Site</title>
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()
    <div>
          @RenderBody()
    </div>
</body>
</html>